version: '3.8'

services:
  # Serviço da API (Consumidor/Produtor)
  rent:
    build:
      context: . # <--- CORRIGIDO: O contexto deve ser a raiz do projeto.
      dockerfile: src/RentApi/API/Dockerfile # <--- Caminho ajustado para onde o Dockerfile deve estar.
    container_name: rent
    restart: always
    depends_on:
      - rabbitmq
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      # RabbitMQ
      RABBITMQ_HOST: "rabbitmq"
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_PASS: "guest"
      RABBITMQ_QUEUE: "motos.notification"
      RABBITMQ_EXCHANGE: "motos.exchange"
      # Postgres
      DB_DATA_SOURCE: postgres
      DB_DATABASE_USER: postgres
      DB_DATABASE_USER_PASSWORD: postgres
      DB_CATALOG: Moto_Rental
      DB_DATABASE_TIMEOUT_SEGUNDOS: 30
    ports:
      - "13000:8080"
    networks:
      - motorental-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - motorental-network  

  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Moto_Rental      
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./scripts:/docker-entrypoint-initdb.d  
    ports:
      - "5432:5432"
    networks:
      - motorental-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_web
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres
    networks:
      - motorental-network

volumes:
  postgres_data:
  pgadmin_data:
  rabbitmq_data:

networks:
  motorental-network:
    driver: bridge