version: '3.8'

services:
  api:
    build:
        context: .
        dockerfile: Dockerfile
    depends_on:
        - kafka
        - mongodb
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
        - MONGO_CONNECTION_STRING=mongodb://mongodb:27017
    ports:
        - 5000:80
    networks:
        - motorcyclerental-network
    
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
        - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
        - 2181:2181
    networks:
        - motorental-network

  kafka:
    image: bitnami/kafka:latest
    environment:
        - KAFKA_BROKER_ID=1
        - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
        - KAFKA_LISTENERS=PLAINTEXT://:9092
        - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
        - ALLOW_PLAINTEXT_LISTENER=yes
        - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
    depends_on:
        - zookeeper
    ports:
        - 9092:9092
    networks:
        - motorental-network

  mongodb:
    image: mongo:6.0
    restart: always
    ports:
        - 27017:27017
    volumes:
        - mongo-data:/data/db
    networks:
        - motorental-network

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_DATABASE_USER}
      POSTGRES_PASSWORD: ${DB_DATABASE_USER_PASSWORD}
      POSTGRES_DB: ${DB_CATALOG}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - motorental-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_web
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - motorental-network

volumes:
    mongo-data:
    postgres_data:
    
networks:
  motorental-network: